nav {
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 1.5rem 16px 0 16px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(15,15,15,1) 5%, rgba(19,19,19,0.2) 70%, rgba(0,0,0,0) 100%);
}

ul {
  list-style-type: none;
}