* {
  padding: 0;
  margin: 0;
  color: #fff;
  scroll-behavior: smooth;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

body {
  background: #111;
}

.container {
  margin: auto;
  max-width: 1300px;
}

.highlight {
  color: #d47aff;
}