@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@layer base {
  html {
    @apply text-white font-raleway;
  }

  body {
    @apply overscroll-none bg-primary overflow-x-hidden
  }

  h1 {
    @apply text-[48px] mb-[50px]
  }

  h2 {
    @apply text-[64px] font-bold leading-[75px]
  }

  h3 {
    @apply font-bold text-custom text-[32px] my-[150px]
  }

  h4 {
    @apply font-bold text-[96px]
  }

  section {
    @apply relative z-[2] px-[90px]
  }
}

@layer components {
  #blob {
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .clippy {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .App {
    @apply h-screen flex flex-col
  }

  .nav {
    @apply px-[90px] pt-[45px] flex justify-between fixed w-full z-[3]
  }

  .nav-buttons {
    @apply flex
  }

  #home {
    @apply py-[260px] overflow-hidden min-h-screen
  }

  .project {
    @apply pl-[190px] flex mb-[250px]
  }

  .cards-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply  overflow-x-auto overflow-y-hidden flex flex-nowrap absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-[185px] gap-32
  }

  .cards-container::-webkit-scrollbar {
    @apply hidden;
  }

  .card {
    @apply w-[400px] h-[500px] bg-white
  }

  .project-content {
    @apply ml-[190px]
  }
  
  .project-content-inverted {
    @apply mr-[190px]
  }

  .skill-container {
    @apply flex mt-[50px]
  }

  .skill {
    @apply border rounded-[20px] px-[15px] py-[5px] mr-[20px]
  }
}