@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@layer base {
  html {
    @apply text-white font-raleway;
  }

  body {
    @apply overscroll-none overflow-hidden
  }

  h1 {
    @apply text-[48px] pb-[50px]
  }

  h2 {
    @apply text-[64px] font-bold leading-[75px]
  }
}

@layer components {
  .clippy {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .App {
    @apply bg-primary h-screen flex flex-col
  }

  .nav {
    @apply px-[90px] pt-[45px] flex justify-between
  }

  .nav-buttons {
    @apply flex
  }

  #home {
    @apply px-[90px] py-[260px] overflow-hidden h-full
  }

  .cards-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply  overflow-x-auto overflow-y-hidden flex flex-nowrap absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-[185px] gap-32
}

  .cards-container::-webkit-scrollbar {
    @apply hidden;
  }

  .card {
    @apply flex-0 font-bold text-6xl w-[370px] h-[600px] bg-white grid place-content-center whitespace-nowrap cursor-pointer
  }
}